#PORT=0000

#DB_URL="postgresql://nom_admin:mot_de_passe@nom_hôte/nom_bdd";

# Paramètres de connexion à Prisma Data :
#DATABASE_URL: Your Accelerate connection string used to authenticate requests.
#DIRECT_URL: Your direct database connection string to run migrations.

# Vrai fichier .env
PORT=3000

DB_URL="postgresql://technovice:technovice@localhost:5432/technovice/mydb?schema=public"

DATABASE_URL="prisma://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiMDMwYTk1ZDEtZjUwNy00NGU3LTkyYTYtYmFhNTNkZDE2OWI1IiwidGVuYW50X2lkIjoiMDBkOTRhMmVmNTUyOTQyMTM4NzQxMTE4ZmNjMGEzY2Y0YjAxNTU3OWJlNDk1NGVhYTlhOTAwMDRhYzYwMTg4MyIsImludGVybmFsX3NlY3JldCI6IjE5NmFkODI2LWZhZGQtNDVhZS1iMmMwLWQ0NmYzMTE3MzkzYyJ9.afFfulZnO8fovawwP4yFn_fqt6yBPPWtNtIUVo69TmQ"
DIRECT_URL="<YOUR_DATABASE_CONNECTION_STRING>"