PORT=0000

DB_URL="postgresql://nom_admin:mot_de_passe@nom_hôte/nom_bdd";

# Paramètres de connexion à Prisma Data :
DATABASE_URL: Your Accelerate connection string used to authenticate requests.
DIRECT_URL: Your direct database connection string to run migrations.